/**
 Custom styles and overrides for the "pure" theme
 */

#splash-container
{
   clear: both;
   margin: 75px auto;
   padding: 10px auto;
   width: 100%;
}

.content-wrapper
{
  max-width: 980px;
  margin: 100px auto;
}
